*{
  font-family: "Segoe UI","sans-serif";
  margin: 0;
  padding: 0;
}
.background-gradient{
  width: 100%;
  height: 100%;
  background: radial-gradient(115.1% 57.74% at 63.65% 29.46%, #3D0000 0%, rgb(42, 0, 0) 33.85%, rgb(0, 0, 0) 97.92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}
body{
width: 100%;
margin: 0;
padding: 0;
font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* Style all input fields */
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
}

/* Style the container for inputs */
.container {
  background-color: #f1f1f1;
  padding: 20px;
}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "&#10004;";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "&#10006;";
}
/* ---------------------Home Page------------------------- */
.wallpaperImg{
  min-width: 100%;
  min-height: 821px;
  background: url(img/blackpanther.png) no-repeat;
  background-size: cover;
}


/*--------------------------navbar----------------------*/
.header-navbar .navbar-ul{
  list-style:none;
  float:right;
  height: 62px;
  display:flex;
  justify-content: center;
  align-items: center;




}
.header-navbar .navbar-ul li{
  padding:14px 16px;
  display:inline;

}

.header-navbar .navbar-ul li a{
  text-decoration:none;
  font-size:17px;
  color:white;
  border-radius:20px;
  padding:2px 11px;
}
.header-navbar .navbar-ul li a:hover{
  background-color: #850000;
  transition: 0.5s;

}
.logo-div .logo{
  display:block;
  padding-left:20px;
  color:black;
  font-size:26px;

}
.nav{
  justify-content: space-between;
  align-items: center;
  padding-top:5px;
  font-family: 'Helvetica', sans-serif;
  background-color: #A30000;
}
.flex-row{
  display:flex;
  flex-direction: row;
}
.social-icon{
  text-decoration:none;
  color:white;
}

.social-icon-div{
  display:inline;
  padding-left:40px;
}
.social-icon-div .social-icon{
  font-size: 20px;
  margin-left:5px;
  margin-right:20px;
}
.social-icon-div .social-icon:hover{
  color: #850000;
  transition: 0.5s;
}
.search-color{
  color:white;
}
.search-color:hover{
  color: #850000;
  transition: 0.5s;
}
.below-nav{
  background-color: black;
  height:53px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size:11px;
  font-family: 'Noto Sans JP', sans-serif;
}

/*----------------navbar responsive--------------*/
@media only screen and (max-width:800px) {
  /*--------movie----------------------*/
  .header-navbar .navbar-ul li {
    padding: 14px 16px;
    display: block;
    border-bottom: 1px solid white;
  }

  .header-navbar .navbar-ul {
    position: absolute;
    top: 33.5px;
    left: 0;
    background: #950101;
    width: 100%;
    height: 250px;
    display: block;
  }

  .search-res {
    padding-left: 13px;
  }

  .social-icon-div {
    display: none;
  }

  .logo-div .logo {
    display: inline;
    padding-left: 0;
    color: black;
    font-size: 26px;

  }

  .logo-div {
    text-align: center;
  }

  .nav {
    padding-top: 5px;
    font-family: 'Helvetica', sans-serif;
    background-color: #A30000;
  }
}
/*header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 3em;
}

.topnav{
  overflow: hidden;
  max-width: 600px;
  display: flex;
  align-items: center;
}
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}
.topnav a.active {
  color: red;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 950px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 950px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: -18px;
    top: -20px;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .icon{
    position: absolute;
    right: 0;
    top: 0;
  }
  header{
    flex-direction: column;
  }
  .topnav{
    width: 100%;
    height: 100%;
  }
}
*/
/*Best Experience Card */
.getTheBestExperience{
  width: 70%;
  height: 230px;
  background-color: #1D1D1D;
  color: white;
  border-radius: 40px;
  margin: 25px 40px 25px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.getTheBestExperience h1{
  text-align: center;
  width: 280px;
  border-bottom: 2px solid red;
}
.experieceimg{
  display: flex;
  justify-content: space-between;
}
.experieceimg img{
  padding: 40px;
}
@media screen and (max-width: 950px) {
  .getTheBestExperience{
    width: 60%;
    height: 600px;
  }
  .experieceimg{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .experieceimg img{
    padding: 30px;
  }
}
/* Now Showing */
.nowshowingHeading{
  color: white;
  font-size: 24px;
  border-bottom: 4px solid red;
}
.container {
  width: 90%;
  height: 900px;
  position: relative;
  overflow: hidden;
  border-radius: 5rem;
}
@media only screen and (max-width: 1000px) {
  .container {
    border-radius: 0;
  }
}

.slider {
  display: flex;
  width: 500%;
  height: 45rem;
  transition: all 0.25s ease-in;
  transform: translateX(0);
}
@media only screen and (max-width: 1000px) {
  .slider {
    height: 100vh;
  }
}
.slider .box {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 650px) {
  .slider .box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
.slider .box .bg {
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  width: 55%;
  transform: skewX(7deg);
  position: absolute;
  height: 100%;
  left: -10%;
  padding-left: 20rem;
  transform-origin: 0 100%;
}
@media only screen and (max-width: 800px) {
  .slider .box .bg {
    width: 65%;
  }
}
@media only screen and (max-width: 650px) {
  .slider .box .bg {
    width: 100%;
    left: 0;
    bottom: 0;
    height: 54%;
    transform: skewX(0deg);
  }
}
.slider .box .bg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: inherit;
  pointer-events: none;
  transform: skewX(10deg);
}
@media only screen and (max-width: 650px) {
  .slider .box .bg::before {
    width: 120%;
    bottom: 0;
    transform: skewX(0deg);
  }
}
/* description box */
.slider .box .details {
  padding: 5rem;
  padding-left: 10rem;
  z-index: 100;
  grid-column: 1/span 1;
  grid-row: 1/-1;
}
@media only screen and (max-width: 650px) {
  .slider .box .details {
    grid-row: 2/span 1;
    grid-column: 1/-1;
    text-align: center;
    padding: 2rem;
    transform: translateY(-9rem);
  }
}
.slider .box .details h1 {
  color: white;
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.slider .box .details p {
  display: inline-block;
  font-size: 1.3rem;
  color: #B5B4B4;
  margin-bottom: 2rem;
  margin-right: 5rem;
}
@media only screen and (max-width: 800px) {
  .slider .box .details p {
    margin-right: 0;
  }
}
.slider .box .details button {
  padding: 1rem 3rem;
  color: #fff;
  border-radius: 2rem;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.slider .box .details button:hover {
  opacity: 0.8;
}
.slider .box .details button:focus {
  outline: none;
  border: none;
}
.slider .box1 {
  background-color: #5000334b;
}
.slider .box1 .illustration .inner {
  background: url("img/strangeWorld.jpg") no-repeat;
  background-size: contain;
  border-radius: 20px;
}
.slider .box1 button {
  background-color: #FF0077;
}
.slider .box2 {
  background-color: #00005054;
}
.slider .box2 .illustration .inner {
  background: url("img/avatarWOW.jpg") no-repeat;
  background-size: contain;
}
.slider .box2 button {
  background-color: #0033FF;
}
.slider .box3 {
  background-color: #0d173a4f;
}
.slider .box3 .illustration .inner {
  background: url("img/JW4.jpg") no-repeat;
  background-size: contain;
}
.slider .box3 button {
  background-color: #2C6286;
}
.slider .box4 {
  background-color: #554c0044;
}
.slider .box4 .illustration .inner {
  background: url("img/blackAdam.jpg") no-repeat;
  background-size: contain;
}
.slider .box4 button {
  background-color: #FF4E00;
}
.slider .box5 {
  background-color: #3000502d;
}
.slider .box5 .illustration .inner {
  background: url("img/pussInBoots.jpg") no-repeat;
  background-size: contain;
}

.slider .box5 button {
  background-color: #8000FF;
}
.slider .illustration {
  grid-column: 2/-1;
  grid-row: 1/-1;
  justify-self: center;
}
@media only screen and (max-width: 650px) {
  .slider .illustration {
    grid-row: 1/span 1;
    grid-column: 1/-1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slider .illustration div {
  height: 30rem;
  width: 25rem;
  border-radius: 3rem;
  background-color: #FF0077;
  position: relative;
  transform: skewX(-10deg);
}
@media only screen and (max-width: 800px) {
  .slider .illustration div {
    height: 20rem;
    width: 15rem;
  }
}
.slider .illustration div::after, .slider .illustration div::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 3rem;
  top: 0;
  left: 0;
}
.slider .illustration div::after {
  transform: translate(4rem, -1rem);
}
.slider .illustration div::before {
  transform: translate(2rem, -2rem);
}

.prev,
.next,
.trail {
  z-index: 10000;
  position: absolute;
}

.prev,
.next {
  width: 4rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.3s ease;
}
@media only screen and (max-width: 650px) {
  .prev,
.next {
    display: none;
  }
}
.prev:hover,
.next:hover {
  opacity: 1;
}

.prev {
  top: 50%;
  left: 2%;
  transform: translateY(-50%);
}

.next {
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
}

.trail {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  text-align: center;
  font-size: 1.5rem;
}
@media only screen and (max-width: 650px) {
  .trail {
    width: 90%;
    bottom: 13%;
  }
}
.trail div {
  padding: 2rem;
  border-top: 3px solid #fff;
  cursor: pointer;
  opacity: 0.3;
  transition: all 0.3s ease;
}
.trail div:hover {
  opacity: 0.6;
}
@media only screen and (max-width: 650px) {
  .trail div {
    padding: 1rem;
  }
}

.active {
  opacity: 1 !important;
}

/*-------------------------Upcoming Movie Section-----------------------------*/
.up-coming-movie-section{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 675px;
  background-color: black;
  background-size: cover;
}
.upcomingHeading{
  width: 200px;
  color: white;
  font-size: 20px;
  border-bottom: 4px solid red;
  text-align: center;
}
.upcoming-container {
  width: 98%;
  display: flex;
}
.upcoming-slide {
  height: 80vh;
  border: #fff solid 1px;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  color: #fff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 0.5s ease-in-out;

}
.upcomingmovieSummary{
  width: 80%;
  height: 600px;
  margin-top: 10%;
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.upcomingMovieContent{
  width: 50%;
  opacity: 0;
}
.up-buttons button{
  width: 240px;
  border: 3px solid white;
  border-radius: 20px;
  background-color: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  color: white;
  margin: 5px;
  opacity: 0;
}
@media (max-width: 1000px){
  .upcomingmovieSummary{
    flex-direction: column;
  }
  .upcomingMovieContent{
    width: 70%;
  }
}
.upcoming-slide h3 {
  position: absolute;
  font-size: 28px;
  top: 30px;
  left: 30px;
  margin: 0;
  opacity: 0;
}
.upcoming-slide.active {
  flex: 15;
}
.upcoming-slide.active h3, .upcoming-slide.active .upcomingmovieSummary, .upcoming-slide.active .upcomingMovieContent,.upcoming-slide.active .upcomingMovieContent .up-buttons button{
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.6s;
}

/* product */
/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
  background: black;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 460px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  background: #fff;
  border: 10px solid green;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff7d7d;
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
  color: white;
}
.product-info button{
    width: 100px;
    height: 30px;
    color: white;
    border: 1px solid white;
    background-color: transparent;  
    border-radius: 10px;
}
.product-brand {
  text-transform: uppercase;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  background: transparent;
  align-items: center;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

/* Footer */
.con-padding{
  padding-top:5px;
}
.frow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
 text-align: center;
}
.frow-last{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.fcol-3{
  width:100%;
  justify-content: center;
   align-items: center;
}

.soc-icon{
  padding:12px 8px;
  font-size: 25px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: white;
  color:#A30000;
  margin-right: 18px;
  margin-bottom: 25px;
}
.fb:hover{
  background-color: #4267B2;
  color:white;
  transition: 0.5s; 
}
.ig:hover{
  color:white;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  transition: 0.5s; 
}
.tw:hover{
  background-color: #00acee;
  color:white;
  transition: 0.5s; 
}
.row-color{
  background-color: #3D0000;
  padding-top:50px;
  height:40vh;
  padding-bottom:50px;
}
.yt:hover{
  color:white;
  background-color: #FF0000;
  transition: 0.5s; 
}
.row-end-color{
  background-color: black;
  height:20vh;
}
.ftext{
  font-size:17px;
  font-family: 'Helvetica', sans-serif;
  padding-bottom: 20px;
  color:white;
}
.grey-text{
  color:gray;
}
.footerhr{
  border:0.5px solid white;

}
.footer-ul{
  list-style: none;
}
.footer-ul li a{
  text-decoration: none;
  color:white;
  font-family: 'Helvetica', sans-serif;
  font-size:17px;
}
.footer-ul li {
  padding-bottom: 20px;
}
.menu-icon{
  width:25px;
  margin-left:17px;
  display:none;
}
@media only screen and (max-width:800px){
  .frow{
    flex-direction: column;
  }


  .row-color{
    background-color: #3D0000;
    padding-top:60px;
    padding-bottom:30px;

    
  }

  .first-sec-res{
    padding-top:20px;
    padding-bottom: 15px;
  }
  .second-sec-res{
    padding-bottom: 15px;
  }
  .logo-res-padding{
    padding-bottom:25px;
  }
  .row-end-color{
    padding-top:15px;
    background-color: black;
    height:20vh;
    padding-bottom:15px;
  }
}


/* ----------------------------Booking Page----------------------------------- */
.seating-row{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}
.seating-col-4{
  width:100%;
  align-items:center;
  justify-content:center;
}
.seating-col-4 .seating-img{
  width:20%;
}

.showTimeContainer{
width: 100%;
height: 200px;
background: #121212;
color: white;
display: flex;
align-items: center;
justify-content: space-between;
}
.showTimeText{
color: white;
background: #3D0000;
width: 236px;
height: 203px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 0px 40px 40px 0px;
}
.dates{
width: 80%;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.dates button{
  background-color: transparent;
  color: white;
  border: none;
}
.time-background-gradient{
width: 100%;
height: auto;
background: linear-gradient(131.86deg, rgba(0, 0, 0,0.86) 20.54%, #121212 73.63%);
display: flex;
align-items: center;

}
.timeSelectionContainer{
width: 60%;
height: 700px;
padding-top: 30px;
padding-left: 20px;
}
.timeContainer1{
width:90%;
height: 203px;
background: #121212;
border-radius: 0px 40px 40px 0px;
margin-bottom: 30px;
display: flex;
align-items: center;
justify-content: center;
}
.timePoster{
width: 40%;
height: 700px;
color: white;
}
.hallName{
width:30%;
height: 203px;
color: white;
background: #FFC700;
padding-left: 3%;
border-radius: 0px 40px 40px 0px;
display: flex;
align-items: center;
justify-content: left;
font-size: 1.3rem;
}
.hallTimes{
width: 85%;
height: 103px;
border-radius: 0px 40px 40px 0px;
padding: 2rem;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
}
.hallTimes hr{
margin: 0;
padding: 0;
width: 100%;
background: #3D0000;
border: 1px solid #3D0000;
}
.time-item{
display: flex;
align-items: center;
justify-content: left;
}
.time-item h3,a{
  color: white;
  text-decoration: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: 400;
padding: 5%;
}
@media (max-width: 1300px){
  .time-background-gradient{
      flex-direction: column;
      height: 100%;
  }
  .timeSelectionContainer{
      padding-top: 30px;
  }
}
@media (max-width: 1000px){
  .timeSelectionContainer{
    padding-left: 0;
  }
  .timeContainer1{
    width: 125%;
  }
  .dates,.hallName,.hallTimes .time-item a{
    font-size: 14px;
  }
}
/* poster */
.posterContainer{
width:360px;
height: 640px;
}
.posterImg{
width: 100%;
height: 474px;
}
.posterInfo{
width: 100%;
height: 166px;
background: #3D0000;
background-size: cover;
color: white;
}
.posterInfo p{
padding: 15px;
}
.posterInfo hr{
width: 50px;
border: 4px solid white;
float: right;
margin-right: 50px;

}
.poster-trailer-icon{
display: flex;
color: white;
font-size: 10px;
}
/* ------------------Booking Page End--------------------------------- */
/* ------------------------Payment Page------------------------------- */
.bg-wallpaper-payment-page{
background: rgb(61,0,0);
background: radial-gradient(circle, rgba(61,0,0,1) 18%, rgba(0,0,0,1) 68%, rgba(0,0,0,1) 100%);
}
.paymentContactDetailsContainer{
width: 90%;
height: 469px;
background: #d9d9d91e;
mix-blend-mode: lighten;
border-radius: 66px;
margin: 5%;
}
.paymentContactDetailsContainer h1{
margin: 2%;
text-align: center;
color: white;
font-family: 'Roboto Condensed', sans-serif;
font-size: 34px;
font-weight: 500;
}
.paymentContactDetailsContainer form{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}
.form-row{
width: 100%;
height: 100px;
display: flex;
align-items: center;
justify-content: center;
flex-direction: none;
}

.form-input{
flex: 55%;
margin:2%;
width: 400px;
height: 83px;
background: rgba(217, 217, 217, 0.001);
mix-blend-mode: overlay;
border: 3px solid #ffffff14;
box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.7);
border-radius: 15px;
color: rgb(255, 255, 255);
font-size: 24px;
font-weight: 500;
padding-left: 30px;
}

/* @media (max-width: 1100px) {
  .form-row{
    width: 50%;
  }
  .form-input{
    width: 90%;
    font-size: 18px;
  }
}
 */
 @media (max-width:800px){
  .paymentContactDetailsContainer{
    height: 300px;
  }
  .form-input{
    width: 300px;
    height: 53px;
    padding-left: 0;
    font-size: 20px;

  }
  .form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    }
}
@media (max-width:700px){
  .form-input{
    width: 200px;
    height: 43px;
    padding-left: 0;

  }
  .form-row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    }
}


.go-btn{
display: inline-block;
width: 144px;
height: 84px;
background: #A30000;
border-radius: 0px 38px 0px 32px;
color: white;
border: 2px solid white;
font-family: 'Roboto Condensed', sans-serif;
font-size: 34px;
font-weight: 500;
}
.section-divider{
width: 98%;
border: 4px solid #3D0000;
background-color: #3D0000;
}
.payment-header{
width: 100%;
color: white;
font-family: 'Roboto Condensed', sans-serif;
text-align: center;
font-size: 32px;
}
.secondSection{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*my poseter chnages*/
.poster-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.poster-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5%;
}
.poster-col-2{
  width:100%;
  align-items: center;
  justify-content: center;
}



@media (max-width: 700px) {
  .secondSection{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

  }
}
.payment-section{
  width: 70%;
  height: 750px;
  margin: 0 5%;
  background: #d9d9d91e;
  mix-blend-mode: lighten;
  border-radius: 66px;
  color: white;
} 
@media (max-width: 700px){
  .payment-section{
    margin:5%;
  }
}
.payment-content{
  margin: 3rem;
  width: 90%; 
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paywithContent{
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1000px){
  .paywithContent a, .paywithContent img{
    width: 149px;
  }
}
.paywithContent h3{
  font-size: 28px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.form-content-Payment{
  width: 90%;
}
.form-content-Payment form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-input-new{
  flex: 55%;
  margin:2%;
  width: 400px;
  height: 83px;
  background: rgba(217, 217, 217, 0.001);
  mix-blend-mode: overlay;
  border: 3px solid #ffffff14;
  box-shadow: -5px 5px 4px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
  padding-left: 30px;
  }

.chkBoxInput{
  width: 20px;
  height: 20px;
  border: none;
  margin-right: 10px;
}
.last-row{
  display: flex;
}
@media screen and (max-width: 1100px) {
  .poster-container{
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 1100px) {
  .form-input-new{
    width: 200px;
    height: 43px;
    font-size: 18px;
  }
  .payment-section{
    width: 100%;
    height: auto;
  }
}
@media (max-width: 700px){
  .paywithContent img{
    width: 90px;
  }
  .form-row{
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  .form-row ,.last-row{
    display: flex;
    flex-direction: none;
  }
  .go-btn{
    width: 100px;
    font-size: 18px;
    margin-top: 10px;
  }
}


/* -----------------Admin Page-------------------------- */
.adminLoginContainer{
  width: 45%;
  height: 629px;
  margin: 10% 0%;
  background: #d9d9d91e;
  mix-blend-mode: lighten;
  border-radius: 66px;
  color: white;
}

@media (max-width: 700px){
  .adminLoginContainer{
    width: 80%;
    height: 429px;
  }
}
.adminLoginContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
}
.adminLoginContent h1{
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 34px;
  font-weight: 650;
}
.adminLoginContent a{
  margin-top: 5%;
  color: white;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
}
.form-content-admin{
  margin-top: 10%;
  display: flex;  
  align-items: center;
  justify-content: center;
}
/* @media (max-width: 1100px) {
  .form-content-admin{
    width: 100%;
  }

  .form-content-admin .form-row .form-input{
    width: 200px;
    font-size: 18px;
  }
} */



/* ---------------------Seating Page------------------------------------------ */
.seating-container{
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seating-row{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}
.seating-col-4{
  width:100%;
  align-items:center;
  justify-content:center;
}
.seating-col-4 .seating-img{
  width:100%;
}


.seating-background-gradient{
  width: 100%;
  height: 731px;
  background: linear-gradient(131.86deg, rgba(0, 0, 0,0.86) 20.54%, #121212 73.63%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.seatingBigContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.movie-container {
  margin: 10px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.seatcontainer {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 48px;
  width: 60px;
  margin: 5px;
  border-radius: 10px 20px;
}
@media (max-width: 900px) {
  .seat{
    height: 24px;
    width: 30px;
  }
}

.seat.selected {
  background-color: #3d0000;
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}
.redgradientContainer{
  width: 100%;
  height: 184px;
  background: url("img/seatingPage/shuriRed.png");
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
p.text {
  font-size: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}


/*--------------------movie page---------------------------*/
.row{
  display:flex;
  flex-direction:row;
}
.col-1{
  width:100%;
  justify-content:center;
  align-items: center;

}

.col-1 .below-header-img{
  width:100%;
}

.col-2 .small-img{
  width:25%;
}
.img-text-div{
  display:flex;
  align-items: center;
  justify-content: center;
}
.p-text{
  display:inline;
}
#about-movie{
  min-height:100vh;
  width:100%;
  background-image: url('img/2126875.jpg');
  background-position:center;
  background-size:cover;
  /*background-attachment: fixed;*/



}


.col-3{
  width:100%;
  justify-content: center;
  align-items: center;
}

.center-row{
  height: 100vh;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width:100%;
  text-align: center;
  color:white;
}
.center-row-two{
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width:100%;
  color:white;
  padding-bottom: 50px;

}
.center-rrow{
  height: 50vh;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width:100%;
  text-align: center;
  color:white;
}

.movie-banner{
  width:30%;
}
.bold-text{
  font-family: 'Righteous', cursive;
  font-size:55px;
}
.smalltext{
  font-size:20px;
  padding-top:3px;
  font-family: 'PT Sans', sans-serif;
  color: white;

}
.border-icon{
  border:1px solid white;
  padding:18px 58px;
  border-radius: 25px;
  font-size:24px
}
.border-icon:hover{
  background-color: #A30000;
  border:1px solid #A30000;
  cursor: pointer;
  transition: 1s;
  box-shadow: inset 0 0 0 3px white;
}
.smalltext-align{
  padding-bottom:10px;

}
.con-title{
  font-family: 'Helvitica', sans-serif;
  text-align: center;
  padding-top: 60px;
  color: white;

}
.title-bot{
  padding-bottom:40px;
}


.col-2{
  width:100%;
  justify-content: center;
  align-items: center;

}
.movie-des-img{
  width:75%;

}
.banner-box-shadow:hover{
  box-shadow:
          2px 2px #A30000,
          3px 3px  #A30000,
          4px 4px  #A30000;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: 1s;
}
.img-grow-movie:hover
{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  transition: 1s;
}
.text-left{
  text-align: left;
  font-family: 'Helvetica', sans-serif;
  padding-left:15px;

}

#movie-description{
  background-image:url('img/knivesOut-blur.jpg');
  background-position:center;
  background-size:cover;


}
.content-padding{
  padding-right:58px;
}

.text-align-img{
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cast-text{
  padding-bottom: 7px;
  font-family: 'PT Sans', sans-serif;
  padding-left:15px;
}
.cast-topic-size{
  font-size: 25px;
  font-family: 'Helvetica', sans-serif;
}
.vert-line{
  border-left:1px solid white;

}
.title-padding{
  padding-bottom:30px;
}
.col-1 .contact-cover-img{
  width:100%;

}

.contact-row-color{
  background-color: black;
  padding-top:40px;
  padding-bottom: 40px;

}

.Moviecontainer{
  margin-bottom: -5px;
}
.inline-text{
  display:inline;

}
.con-icon{
  font-size: 18px;
  color:#A30000;
  padding-bottom: 20px;
}
.text-align-contact{
  text-align: left;
  padding-right:5px;
  padding-left:50px;

}
.movie-con-img{
  width:75%;
}
.map-frame{
  width:650px;
}
.vert-map-line{
  border-left:1px solid #A30000;
}
.vvert-map-line{
  border-left:2px solid #A30000;
}
.Cline-text-align{
  padding-left:30px;
}
.center-rrow-con{
  height: 57vh;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  width:100%;
  text-align: center;
  color:white;
}


.form-content{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  margin-bottom:48px;
}

.form-title{
  text-align: center;
  padding-top:50px;
  padding-bottom: 40px;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'Noto Sans JP', sans-serif;
}
.form-container{
  background-color: #ffc6c4;
  padding:50px 50px;
  border-radius: 30px;
}
.textboxPadding{
  margin-right:10px;
  margin-bottom: 20px;
  height:60px;
  width:550px;
  padding-left:15px;

}
.form-container input{
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  border:none;
  border-radius: 20px;
}
.textbox-des{
  border:none;
  width:1125px;
  height:150px;
  padding-left:15px;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  padding-top:12px;
  border-radius: 20px;
}
.extraPadding{
  width:1125px;
}
.submit-btn{
  margin-top: 30px;
  padding:16px 60px;
  border-radius: 20px;
  background-color: #A30000;
  color:white;


}
.btn-div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-contact-form{
  background: linear-gradient(113.36deg, rgba(61, 0, 0, 0.18) 3.43%, rgba(217, 217, 217, 0) 100.28%);
}
.smalltext-con{
  font-size:16px;
  padding-top:3px;
  font-family: 'PT Sans', sans-serif;
  color: black;

}
.contact-h-support{
  text-align:left;
  color:black;
  font-family: 'Noto Sans JP', sans-serif;
  font-size:45px;
}
.con-text-p{
  text-align:left;
  color:black;
  font-family: 'Noto Sans JP', sans-serif;
  font-size:19px;
  padding-right:50px;
  padding-top: 15px;
  font-weight: bold;
}
.support-text-div{
  padding-left:50px;
}
.support-body-padding{
  padding-top:60px;
  padding-bottom: 60px;

}

/*--------------movie/contact responsive--------------------*/
@media only screen and (max-width:800px)
{
  /*--------movie----------------------*/
  .header-navbar .navbar-ul li{
    padding:14px 16px;
    display:block;
    border-bottom: 1px solid white;
  }
  .header-navbar .navbar-ul{
    position:absolute;
    top:33.5px;
    left:0;
    background:#950101;
    width:100%;
    height:250px;
    display:block;
  }
  .search-res{
    padding-left:13px;
  }
  .social-icon-div{
    display:none;
  }
  .logo-div .logo{
    display: inline;
    padding-left:0;
    color:black;
    font-size:26px;

  }
  .logo-div{
    text-align: center;
  }
  .nav{
    padding-top:5px;
    font-family: 'Helvetica', sans-serif;
    background-color: #A30000;
  }
  .menu-icon{
    display:block;
    color:#fff;
  }
  .center-row{
    flex-direction: column;
  }
  .center-rrow{
    flex-direction: column;
  }
  .movie-des-img{
    width:45%;
    padding-bottom: 35px;
    padding-top: 55px;

  }
  .smalltext{
    font-size:16px;
    padding-top:3px;
    font-family: 'PT Sans', sans-serif;
    color: white;

  }
  .title-bot{
    padding-bottom:90px;
  }
  .left-res-padding{
    padding-left:77px;
  }
  .title-padding{
    padding-top:140px;
    padding-bottom:30px;
  }
  .movie-englarge-res{
    width:85%;
  }
  .bold-text{
    font-size:45px;
  }
  .padding-col-res{
    padding-bottom:35px;
  }


  .row-color{
    background-color: #3D0000;
    padding-top:30px;
    padding-bottom:30px;
    height:70vh;

  }
  .first-sec-res{
    padding-bottom: 20px;
  }
  .second-sec-res{
    padding-bottom: 20px;
  }
  .logo-res-padding{
    padding-bottom:25px;
  }
  .row-end-color{
    padding-top:15px;
    background-color: black;
    height:20vh;
    padding-bottom:15px;
  }





}

@media only screen and (max-width:800px){
  /*-----------contact page----------------*/
  .center-rrow-con{
    flex-direction: column;
  }
  .contact-h-support{
    text-align:left;
    font-size:30px;
  }
  .con-text-p{
    text-align:left;
    font-size:17px;
    padding-bottom: 30px;


  }
  .row-color{
    height:90vh;
  }
  .vvert-map-line{
    border: none;
  }
  .vert-map-line{
    border: none;
  }
  .movie-con-img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left:50px;
  }

  .center-rrow-con{
    height: 65vh;
  }
  .map-frame{
    padding-top:30px;
    height:350px;
    width:400px;
  }
  .res-conIcon-padding{
    padding-left: 1px;
  }
  .left-res-padding{
    padding-left:0;

  }
  .movie-con-img{
    margin-bottom: 120px;
  }
  .textboxPadding{
    margin-right:10px;
    margin-bottom: 20px;
    height:40px;
    width:350px;
    padding-left:15px;

  }
  .textbox-des{
    border:none;
    width:350px;
    height:150px;
    padding-left:15px;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    padding-top:12px;
    border-radius: 20px;
  }
  .textboxPadding{
    margin-right:10px;
    margin-bottom: 20px;
    height:60px;
    width:350px;
    padding-left:15px;

  }
  .form-content{
    margin-left: 15px;
    margin-right: 15px;
  }
  .center-row-conactQ{
    height: 60vh;

  }
  .support-text-div{
    margin-top:100px;
  }
  /*.map-res-contact{
    height: 57vh;

  }*/
  .contact-row-color{
    padding-top:70px;
    padding-bottom: 70px;

  }

}
@media only screen and (max-width: 768px){
  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}



@media only screen and (width: 768px){
  .textboxPadding{
    margin-right:10px;
    margin-bottom: 20px;
    height:60px;
    width:550px;
    padding-left:15px;

  }
  .textbox-des{
    border:none;
    width:545px;
    height:150px;
    padding-left:15px;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    padding-top:12px;
    border-radius: 20px;
  }
  .form-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom:48px;
  }
}



@media only screen and (width: 912px){
  .textboxPadding{
    margin-right:10px;
    margin-bottom: 20px;
    height:60px;
    width:550px;
    padding-left:15px;

  }
  .textbox-des{
    border:none;
    width:545px;
    height:150px;
    padding-left:15px;
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    padding-top:12px;
    border-radius: 20px;
  }
  .form-content{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom:48px;
  }
  .form-container{
    width:600px;
  }

}
